body{
    background:grey;
}

.container{
    width:2480px;
    height:3508px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.box-above{
width: 100%;
height:20%;
background-color:blue;
}
.box-under{
    width:100%;
    height:80%;
    display: flex;
    flex-direction: row;
}
.item-general-info{
    width: 20%;
    height: 100%;
    background-color: aqua;

}
.item-content{

}