body{
    background:grey;
    font-family: 'Raleway', sans-serif;
}
/* start wireframe */
.container{
    width: 21cm;
    height: 29.7cm;

    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;

}
.box-left{
width: 35%;
height:100%;
background-image: linear-gradient(to right bottom, #296073, #2b6a7f, #2e748b, #307e97, #3288a4, #4e94b2, #66a1c0, #7dadcd, #a6bfdb, #c9d3e7, #e6e8f3, #ffffff);
display: flex;
flex-direction: column;
align-content: center;
padding-left:10px;
}

.text-home{
    padding-left:43px;
}


.box-right{
    width:70%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-self:center;
    margin-right:15px;
    justify-content: space-between;
    align-content: center;
    margin-left:15px;
}
.contact-info{
    margin-top:80px;
}

/* end wireframe */
/* start box right */

.image-koen{
    border-radius: 50%;
    margin:19px;
}
.info-item{
    font-size:17px;
    margin-top:9px;
}

.fas{
    margin-right:20px;
    font-size:30px;
}
.far{
    margin-right:20px;
    font-size:30px;
}
.fab{
    margin-right:20px;
    font-size:30px;
}
/* end box right */
/* start box left */

/* about me section */
.hobby-about-me{
    font-size:10px;
    color:black;
}
.tittle-about-me{
    font-size:blue;
    color:15px;
}
.about-me-from{
    font-size:17px;
    color:green;
}
.about-me-contact{
    font-size:16px;
    color:orange;
}

/* end about me section */
.title-full-page{
    font-size:30px;
    align-self: center;
}
.first-box{
    width: 100%;
    height: 20%;


}
.item-content{

}

/* end box left */

/* start box right */
.section{
    margin-top:50px;
}

.section-title{
font-size:25px;

}

.type-section{
    font-size: 30px;
    font-family: 'Puritan', sans-serif;
    font-weight: 900;
    color:#296073;
}
.education-item{
    display: flex;
    flex-direction: column;
    margin-top:15px;
}
.item-above{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.year{
font-weight: 900;
}
.title{
    font-size: 20px;
    font-family: 'Puritan', sans-serif;

}
.undertitle{
    color: #3596B5;
    margin-left:10px;
}
.description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:10px;
    margin-top:5px;
}

/* skills-section */
.soft-skills-section{
margin-bottom: 20px;
}
.title-skills{
font-size:19px;
}
.soft-skills{
display: flex;
flex-wrap: wrap;
margin: 20px;
}
.skill-item{
    background: #296073;
    border-radius: 5%;
    color:white;
    padding:5px;
    margin:3px;

}
/* end box right */